.lr-zone {
    min-height: 500px;
}

.lr-panel {
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    max-width: 350px;
}

.lr-panel > h1 {
    text-align: center;
}

.lr-form {
    width: 80%;
    margin: auto;
}

.lr-inputGroup {
    margin: 10px 0px;
}

.lr-inputGroup > input {
    box-sizing: border-box; 
    width: 100%;
}

.lr-inputGroup > a {
    font-size: 14px;
}

.lr-inputBtn {
    margin: 15px 0px;
    width: 100%;
    text-align: center;
}

.lr-inputBtn > input {
    font-size: 18px;
    background-color: black;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
}

.lr-inputBtn > input:hover {
    background-color: white;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 5px 15px;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.lr-footer {
    border-top: 1px solid black;
    text-align: center;
    padding: 15px 0px
}