.lr-warning {
    width: 450px;
}

.l-zone {
    min-height: 500px;
}

.l-panel {
    background-color: #3B3B3B;
    border: 1px solid #626262;
    color: white;
    border-radius: 2px;
    margin: auto;
    max-width: 450px;
}

.l-panel > h1 {
    text-align: center;
    border-bottom: 1px solid #626262;
    margin: 0px;
    padding: 15px;
    font-size: 2rem;
}

.l-form {
    width: 80%;
    margin: auto;
}

.l-inputGroup {
    margin: 10px 0px;
}

.l-inputGroup > label {
    font-size: 1.3rem;
}

.l-inputGroup > input {
    border: 2px solid white;
    padding: 5px;
    border-radius: 2px;
    box-sizing: border-box; 
    width: 100%;
    font-size: 1.3rem;
}

.custom-checkbox {
    transform: scale(1.5);
}