.lr-warning {
    background-color: #ff4336;
    border: 2px solid #ff3021;
    border-radius: 2px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    visibility: hidden;
    margin: 25px auto;
    height: 50px;
}

.disabled {
    background-color: #ff5e5e !important;
}
.disabled:hover {
    cursor: initial !important;
    background-color: #ff5e5e !important;
    border: 2px solid #626262 !important;
}

.valid {
    border-color: #68a000 !important;
}

.invalid {
    border-color: #ff3021 !important;
}

.lr-inputBtn {
    margin: 15px 0px;
    width: 100%;
    text-align: center;
}

.lr-inputBtn > input {
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #667292;
    box-sizing: border-box;
    border: 2px solid #626262;
    border-radius: 2px;
    padding: 10px 30px;
    color: white;
}

.lr-inputBtn > input:hover {
    background-color: #4c4d8c;
    border: 2px solid white;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.lr-footer {
    border-top: 1px solid #626262;
    text-align: center;
    padding: 15px 0px;
    font-size: 1.3rem;
}

.lr-footer > a {
    color: white;
}