.lr-warning {
    background-color: #ff4336;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    display: none;
}

.lr-inputBtn {
    margin: 15px 0px;
    width: 100%;
    text-align: center;
}

.lr-inputBtn > input {
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #667292;
    box-sizing: border-box;
    border: 1px solid #626262;
    border-radius: 2px;
    padding: 10px 30px;
    color: white;
}

.lr-inputBtn > input:hover {
    /*background-color: #5d6391;*/
    background-color: #4c4d8c;
    border: 1px solid white;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.lr-footer {
    border-top: 1px solid #626262;
    text-align: center;
    padding: 15px 0px;
    font-size: 1.3rem;
}

.lr-footer > a {
    color: white;

}