@font-face {
    font-family: "Multi";
    src: url("../font/muli/Muli.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Multi";
    margin: 0;
    padding: 0;
    background-color: #515151;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #3b3b3b;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

.navbar > div {
    display: flex;
    padding: 20px;
}

.navbar-title > a {
    padding: 10px 15px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-decoration: none;
}

.navbar-links {
    margin-left: 15px;
}

.navbar-links > a, span {
    padding: 10px 15px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 2px;
}

.navbar-links > a:hover {
    background-color: #515151;
    color: white;
    transition: 0.5s;    
}

.navbar-login {
    background-color: #667292;
}
.navbar-register, .navbar-myData, .navbar-logout {
    border: 1px solid white;
    box-shadow: none;
}

.navbar-LR:hover {
    background-color: white !important;
    color: black !important;
}