/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.lr-warning {
    width: 900px;
}

.r-zone {
    min-height: 500px;
}

.r-panel {
    background-color: #3B3B3B;
    border: 1px solid #626262;
    color: white;
    border-radius: 2px;
    margin: auto;
    max-width: 900px;
}

.r-panel > h1 {
    text-align: center;
    border-bottom: 1px solid #626262;
    margin: 0px;
    padding: 15px;
    font-size: 2rem;
}

.r-form {
    width: 100%;
    margin: auto;
}

.r-form > form {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 25px;
}

.r-form-category {
    width: 100%;
    font-size: 1.4rem;
    margin-top: 30px;
    border-bottom: 1px solid white;
    font-weight: bold;
}

.r-inputGroup {
    font-size: 1.3rem;
    margin-top: 25px;
    width: 100%;
    display: flex;
    align-items: space-between;
}

.r-inputGroup > label {
    white-space: nowrap;
    min-width: 32%;
    text-align: right;
}

.r-inputGroup-input {
    width: 100%;
    padding-left: 5px;
}

.r-inputGroup-input > input {
    border: 2px solid white;
    padding: 5px;
    border-radius: 2px;
    box-sizing: border-box; 
    font-size: 1.3rem;
    width: 100%;
}

.r-inputGroup-input > select {
    border: 2px solid white;
    padding: 5px;
    border-radius: 2px;
    box-sizing: border-box; 
    font-size: 1.3rem;
    width: 100%;
}

.r-inputGroup-input > span {
    font-size: 0.8rem !important;
    font-weight: normal !important;
    display: block;
}