/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.r-zone {
    min-height: 500px;
}

.r-panel {
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    max-width: 800px;
}

.r-panel > h1 {
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 15px;
}

.r-form {
    width: 100%;
    margin: auto;
}

.r-form > form {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
}

.r-inputGroup-of3 {
    margin: 10px auto 0px 0px;
    width: 30%;
}

.r-inputGroup-of2 {
    margin: 10px auto 0px 0px;
    width: 63.5%;
}

.r-inputGroup-of1 {
    margin: 10px auto 0px 0px;
    width: 96.6%;
}

[class^="r-inputGroup-"] > input {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box; 
    width: 100%;
}

[class^="r-inputGroup-"] > a {
    font-size: 14px;
}

[class^="r-inputGroup-"] > span {
    font-size: 12px;
    font-weight: bold;
}